*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_container{
    width: 60%;
    margin: auto;
    line-height: 0;
    background-image: url("background.png");
    overflow: hidden;
    position: relative;
}
.bg_img{
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
span{
    width: 1px;
    height: 100%;
    cursor: ew-resize;
    background: white;
    position: absolute;
    top: 0;
    left: 50%;
}
.arrow{
    width: 40px;
    position: absolute;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
}